html {
  margin: 0;
  background-color: black;
}

.page {
  text-align: center;
}

.active {
  text-decoration: underline;
  text-decoration-color: red;
}

.logo {
  width: 120px;
  height: auto;
  padding: 10px 0 0 30px;
}

.app {
  background-color: black;
}

.header {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  font-family: "Titillium Web", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  text-decoration: none;
  font-style: none;
  margin: 30px;
}

.link {
  font-family: "Titillium Web", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 35px;
  margin: 0 20px;
}




